@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.burger-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  color: white;
  padding: 1rem;
  z-index: 50;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-modal.open {
  transform: translateX(0);
}

.close-button {
  background: transparent;
  border: none;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
}
